.products {
  display: grid;
  grid-template-columns: repeat(2, 47%);
  gap: 25px;
  padding: 0;

  li {
    list-style: none;
    position: relative;
  }

  :global .hide {
    display: none;
  }

  @media (min-width: 960px) {
    grid-template-columns: repeat(5, 300px);
  }
}
